<!-- Main wrapper for the articles -->
<div id="content">
	
	<!-- View panel for the splash image -->
	<div id="splash">
		<div id="splashimage">
			<%= image_tag("smartphone.jpg") %>
		</div>
	</div>
	
	<div id="sectionbanner">
		<p class="goldtext">
			For General Questions
		</p>
	</div>
	
	<!-- Article -->
	<div id="article">
		<p>
			<h3>
				Phone:
			</h3>
			<h2>
				(775) 830-6036
			</h2>
			<h3>
				Email:
			</h3>
			<h2>
				michelle@dwellNV.com
			</h2>
			
			<h3>
				Address:
			</h3>
			<h2>
				4950 Kietzke Lane
				STE #302-A
				Reno, NV 89509
			</h2>
		</p>
	</div>
	
	<div id="sectionbanner">
		<p class="goldtext">
			Contact a Realtor
		</p>
	</div>
	
	<!-- Wrapper for the team panel -->
	<div id="team">
		
		<% @realtors.each do |realtor| %>
			<div id="teamprofile">
				<div id="teamcontact">
					<h2>
						<%= realtor.name %>
					</h2>
					
					<h3>
						Phone:
						<%= realtor.primary_phone %>
					
						<br>
						Email:
						<%= realtor.email %>
					</h3>
				</div>
				
				<div id ="teamportrait">
					<% if realtor.portrait.url != nil %>
						<%= image_tag(realtor.portrait.url) %>
					<% else %>
						<%= image_tag 'renosign.jpg' %>
					<% end %>
				</div>
			</div>
		<% end %>
		
	</div>
	
	<div id="sectionbanner">
		<p class="goldtext">
			Contact Us Today!
		</p>
	</div>
	
	<!-- Wrapper for the contact panel -->
	<div id="contact">
		<div id="contacttext">
			<ul>
				<li>Phone: (775) 830-6036</li>
				<li>Address: 4950 Kietzke Lane STE #302-A, Reno, NV 89509</li>
				<li>Email: michelle@dwellNV.com</li>
			</ul>
		</div>
		
		<!-- Media icons -->
		<div id="media">
			<ul>
				<li>
					<%= link_to image_tag("twitter.png"), '#' %>
				</li>
				
				<li>
					<%= link_to image_tag("facebook.png"), '#' %>
				</li>
				
				<li>
					<%= link_to image_tag("instagram.png"), '#' %>
				</li>
			</ul>
		</div>
	</div>
	
</div>
