<!-- Main wrapper for the articles -->
<div id="content">
	
	<!-- View panel for the splash image -->
	<div id="splash">
		<div id="testimonial">
			<% if @testimonial.description != nil %>
				<%= simple_format(@testimonial.description) %>
			<% end %>
			
			<% if @testimonial.image %>
				<%= image_tag(@testimonial.image.url) %>
			<% end %>
		</div>
		
		<div id="splashimage">
			<%= image_tag("bluehouse_crop.png") %>
		</div>
	</div>
	
	<div id="sectionbanner">
		<p class="goldtext">
			Current Listings
		</p>
	</div>
	
	<!-- Wrapper for the listings panel -->
	<div id="listings">
		<ol class="listings">
			<%= render @listings %>
		</ol>
	</div>
	
	<div id="sectionbanner">
		<p class="goldtext">
			Our Mission
		</p>
	</div>
	
	<!-- Wrapper for the team panel -->
	<div id="team">
		<div id="teammember">
			<%= image_tag("mward.png", height: '500', width: '250', :class => 'homepage') %>
			
			<div id="teamarticle">
				<h3>
					At dwellNV, we make it our mission to ensure your confidence.
				</h3>
				<p>
					We have a drive to deliver exceptional attention to detail, courtesy, and pride in listing and working with your home. We know the excitement and trepidation of listing a home and drive to make others see what is special to you. Our negotiations are fueled by knowledge of the area and emerging property trends in this fast-paced market. Be it a residential home, vacation home, or your first attempts into the market, we have the tools to teach. We'll take your requirements to the market and all the way to your new front door.
				</p>
				<p>
					The Great Basin area is home to the snowy peaks of the Sierra Nevada mountain range, a wealth of recreational activities and family fun. Along the skyline, Downtown and Midtown Reno's burgeoning night life and corporate developments crest the ever-updating culture.
				</p>
				<p>
					We love the area, and we know you will too.
				</p>
			</div>
		</div>
	</div>
	
	<div id="sectionbanner">
		<p class="goldtext">
			Contact Us Today!
		</p>
	</div>
	
	<!-- Wrapper for the contact panel -->
	<div id="contact">
		<div id="contacttext">
			<ul>
				<li>Phone: (775) 830-6036</li>
				<li>Address: 4950 Kietzke Lane STE #302-A, Reno, NV 89509</li>
				<li>Email: michelle@dwellNV.com</li>
			</ul>
		</div>
		
		<!-- Media icons -->
		<div id="media">
			<ul>
				<li>
					<%= link_to image_tag("twitter.png"), '#' %>
				</li>
				
				<li>
					<%= link_to image_tag("facebook.png"), '#' %>
				</li>
				
				<li>
					<%= link_to image_tag("instagram.png"), '#' %>
				</li>
			</ul>
		</div>
	</div>
	
</div>
