<!-- Main wrapper for the articles -->
<div id="content">
	
	<!-- View panel for the splash image -->
	<div id="splash">
		<div id="testimonial">
			<% if @testimonial.description != nil %>
				<%= simple_format(@testimonial.description) %>
			<% end %>
			
			<% if @testimonial.image %>
				<%= image_tag(@testimonial.image.url) %>
			<% end %>
		</div>
		
		<div id="splashimage">
			<%= image_tag("homelarge.jpg") %>
		</div>
	</div>
	
	<div id="sectionbanner">
		<p class="goldtext">
			Newest Listings
		</p>
	</div>
	
	<!-- Wrapper for the listings panel -->
	<div id="listings">
		<% if @listings.any? %>
			<ol class="listings">
				<%= render @listings %>
			</ol>
			<%= will_paginate @listings %>
		<% end %>
	</div>
	
	<div id="sectionbanner">
		<p class="goldtext">
			Contact Us Today!
		</p>
	</div>
	
	<!-- Wrapper for the contact panel -->
	<div id="contact">
		<div id="contacttext">
			<ul>
				<li>Phone: (775) 830-6036</li>
				<li>Address: 4950 Kietzke Lane STE #302-A, Reno, NV 89509</li>
				<li>Email: michelle@dwellNV.com</li>
			</ul>
		</div>
		
		<!-- Media icons -->
		<div id="media">
			<ul>
				<li>
					<%= link_to image_tag("twitter.png"), '#' %>
				</li>
				
				<li>
					<%= link_to image_tag("facebook.png"), '#' %>
				</li>
				
				<li>
					<%= link_to image_tag("instagram.png"), '#' %>
				</li>
			</ul>
		</div>
	</div>
	
</div>
