<!-- Main wrapper for the articles -->
<div id="content">
	
	<!-- View panel for the splash image -->
	<div id="splash">
		<div id="testimonial">
			<% if @testimonial.description != nil %>
				<%= simple_format(@testimonial.description) %>
			<% end %>
			
			<% if @testimonial.image %>
				<%= image_tag(@testimonial.image.url) %>
			<% end %>
		</div>
		
		<div id="splashimage">
			<%= image_tag("renosign.png") %>
		</div>
	</div>
	
	<div id="sectionbanner">
		<p class="goldtext">
			Reno's Best Buys
		</p>
	</div>
	
	<!-- Wrapper for the listings panel -->
	<div id="listings">
		<ol class="listings">
			<%= render @renobblistings %>
		</ol>
		<%= will_paginate @renobblistings %>
		
	</div>
	
	<div id="sectionbanner">
		<p class="goldtext">
			River and Downtown
		</p>
	</div>
	
	<!-- Wrapper for the listings panel -->
	<div id="listings">
	
		<ol class="listings">
			<%= render @renolistings %>
		</ol>
		<%= will_paginate @renolistings %>
		
	</div>
	
	<div id="sectionbanner">
		<p class="goldtext">
			South Reno
		</p>
	</div>
	
	<!-- Wrapper for the listings panel -->
	<div id="listings">
	
		<ol class="listings">
			<%= render @southlistings %>
		</ol>
		<%= will_paginate @southlistings %>
	
	</div>
	
	<div id="sectionbanner">
		<p class="goldtext">
			Contact Us Today!
		</p>
	</div>
	
	<!-- Wrapper for the contact panel -->
	<div id="contact">
		<div id="contacttext">
			<ul>
				<li>Phone: (775) 830-6036</li>
				<li>Address: 4950 Kietzke Lane STE #302-A, Reno, NV 89509</li>
				<li>Email: michelle@dwellNV.com</li>
			</ul>
		</div>
		
		<!-- Media icons -->
		<div id="media">
			<ul>
				<li>
					<%= link_to image_tag("twitter.png"), '#' %>
				</li>
				
				<li>
					<%= link_to image_tag("facebook.png"), '#' %>
				</li>
				
				<li>
					<%= link_to image_tag("instagram.png"), '#' %>
				</li>
			</ul>
		</div>
	</div>
	
</div>
