<% provide(:title, "Listing") %>

<div id="content">
    <div id="splash">
        <div id="splashimage">
          <% if @listing.picture? %>
              <%= link_to image_tag(@listing.picture.url, :class => "slides"), @listing.picture.url %>
            <% else %>
              <%= image_tag("cabin.jpg", :class => "slides") %>
          <% end %>
        </div>
    	
    	<button class="button-left" onclick="plusDivs(-1)">&#10094;</button>
    	<button class="button-right" onclick="plusDivs(1)">&#10095;</button>
    </div>
    
    <div id="sectionbanner">
    	<p class="goldtext">
            <% if @listing.asking_price %>
              $<%= number_with_delimiter(@listing.asking_price, :delimiter => ',')  %>
            <% else %>
              Contact Us for Pricing
            <% end %>
    	</p>
    </div>
    
    <!-- Article -->
    <div id="article">
    	
    	<div id="listingnotes">
    		<p>
    		    <%= @listing.description %>
    		</p>
    	</div>
    
    	<ul id="listingphotos">
    	    <% if @listing.picture? %>
              <li><%= link_to image_tag(@listing.picture.url, :class => "slides"), @listing.picture.url %></li>
            <% else %>
              <li><%= image_tag("cabin.jpg", :class => "slides") %></li>
          <% end %>
    	</ul>
    
    </div>
    
    <div id="sectionbanner">
    	<p class="goldtext">
    		Contact Us Today!
    	</p>
    </div>
    
    <!-- Wrapper for the contact panel -->
    <div id="contact">
    	<div id="contacttext">
    		<ul>
    			<li>Phone: (775) 830-6036</li>
    			<li>Address: 4950 Kietzke Lane STE #302-A, Reno, NV 89509</li>
    			<li>Email: michelle@dwellNV.com</li>
    		</ul>
    	</div>
    	
    	<!-- Media icons -->
    	<div id="media">
    		<ul>
    			<li>
    				<a href="#">
    					<%= image_tag("twitter.png") %>
    				</a>
    			</li>
    			
    			<li>
    				<a href="#">
    					<%= image_tag("facebook.png") %>
    				</a>
    			</li>
    			
    			<li>
    				<a href="#">
    					<%= image_tag("instagram.png") %>
    				</a>
    			</li>
    		</ul>
    	</div>
    </div>
</div>