<p id="notice"><%= notice %></p>

<p>
  <strong>Description:</strong>
  <%= @testimonial.description %>
</p>

<p>
  <strong>Image:</strong>
  <%= @testimonial.image %>
</p>

<%= link_to 'Edit', edit_testimonial_path(@testimonial) %> |
<%= link_to 'Back', testimonials_path %>
