<div id="foot">
	<div id="footmenu">
		<ul class="navoptions">
			<li><%= link_to "Home", home_path %></li>
			<li><%= link_to "About Us", about_path %></li>
			<li><%= link_to "Listings", listings_path %></li>
			<li><%= link_to "Contact", contact_path %></li>
			<li><%= link_to "Reno's Best Buys", renobb_path %></li>
		</ul>
	</div>
	
	<div id="footinfo">
		<p>dwellNV &copy; 2016 Michelle Ward </p>
	</div>
</div>